<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="https://play-lh.googleusercontent.com/X2FA1FTj1rrZ8iPJjkwnVkqLoYMjUqU4SjAdkayEuYLeLY_WzCdPCuriCM0hHlwROKa8=w240-h480-rw"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        CUET raw score calculator
      </a>
    </nav>

    <form  class="px-4 mt-4"  action="/upload" method="POST" enctype="multipart/form-data">
        <h4>Response Sheet & Subject Page Range*</h4>
        <div class="form-group">
            <input type="file" class="form-control-file" id="pdfflie" name="pdf_file" accept="application/pdf" required>
          </div>
          <div class="form-row my-3">
            <div class="col">
              <input type="number" class="form-control" placeholder="From Page No." name="q-from" required>
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="TO Page No." name="q-to" required>
            </div>
          </div>

          <h4>Selected Subject A-Key Page Range*</h4>
          <div class="form-row">
            <div class="col">
              <input type="number" class="form-control" placeholder="From Page No." name="a-from" required>
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="TO Page No." name="a-to" required>
            </div>
          </div>
          <input class="btn btn-primary mt-4" type="submit" value="Submit">
      </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
